/* general settings for all detail pages */

h2 {
    font-size: 40pt;
    font-weight: 700;
}

#header img {
    width: 100%;
}

body img {
    width: 100%;
}

section {
    margin-bottom: 100px;
}

/* general settings for all detail pages */