/* general settings */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18pt;
  font-weight: 300;
}

.card {
  transition: 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
  z-index: 999;
  box-shadow: rgba(122, 98, 84, 0.3) 0px 8px 30px;
}

.bg-purple {
  background-color: #6f42c1;
}

.breadcrumb-container {
  background-color: #e6e6e6;
}

a {
  color:#ff931e;
}

a:hover {
  color: #aa6316;
}

.preloader {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("media/rocket-background.svg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  z-index: 9999;
  color: white;
}
.preloader img {
  display: block;
  justify-content: center;
  align-items: center;
}
.preloader p {
  text-align: center;
}

footer {
  height: 300px;
  background-image: url("media/footer-bg.svg");
  background-position: bottom;
  background-size: cover;
  color: #f8f9fa;
}

footer p {
  font-size: 0.8em;
}

footer a {
  text-decoration: none;
  color: #f8f9fa;
}

footer a:hover {
  color: #f8f9fa;
}

.mobile-contact a {
  color: #f8f9fa;
}

footer ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.header h1 {
  font-size: 60pt;
  font-weight: 700;
  color: white;
  text-shadow: rgba(122, 98, 84, 0.8) 0px 8px 30px;
  text-align: center;
}

.bg-theme {
  background-color: #ff931e;
}

.btn-theme {
  background-color: #ff931e;
  color: white;
}

.btn-theme:hover {
  background-color: #d37918;
  color: white;
}

.navbar-brand img {
  width: 180px;
}

nav {
  font-size: 16pt;
}

strong {
  font-weight: 700;
}

.card-header {
  font-size: 16pt;
}


/* .fadein {
  opacity: 0;
} */

.navbar-nav a {
  transition: 0.3s ease-in-out;
}

.navbar-nav a:hover {
  transform: translateY(-5px);
}

  /* accssibility settings */
  .sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

  .modal-body video {
    width: 100%;
  }

  /* body */
  .banner {
    border-radius: 20px;
    background-color: #ff931e;
    overflow: hidden;
    padding: 0;
    transition: 0.3s ease-in-out;
    margin-bottom: 30px;
  }
  
  .banner img {
    width: 100%;
  }
  
  .banner:hover {
    transform: translateY(-20px);
    box-shadow: 0px 10px 30px #192033;
  }
  
  .mobile-contact {
    font-size: 30pt;
  }

  @media (max-width: 768px) {
    .banner{
      margin-bottom: 15px;
    } 

    .banner:hover {
      transform: translateY(-10px);
    }

    .header h1{
      font-size: 30pt;
    }
  }