/* general settings */
body {
  font-family: "source-han-sans-simplified-c", sans-serif;
  font-size: 18pt;
  font-weight: 300;
}

.header h1 {
  font-size: 60pt;
  color: white;
  text-shadow: 2px 2px 30px rgb(146, 72, 30);
}

.bg-theme {
  background-color: #ff931e;
}

.btn-theme {
  background-color: #ff931e;
  color: white;
}

.btn-theme:hover {
  background-color: #d37918;
  color: white;
}

.navbar-brand img {
  width: 180px;
}

nav {
  font-size: 16pt;
}

strong {
  font-weight: 700;
}


.fadein {
  opacity: 0;
}

.navbar-nav a {
  transition: 0.3s ease-in-out;
}

.navbar-nav a:hover {
  transform: translateY(-5px);
}

  /* accssibility settings */
  .sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

  .modal-body img {
    width: 100%;
  }

  /* body */
  .banner {
    border-radius: 20px;
    background-color: #ff931e;
    overflow: hidden;
    padding: 0;
    transition: 0.3s ease-in-out;
    margin-bottom: 30px;
  }
  
  .banner img {
    width: 100%;
  }
  
  .banner:hover {
    transform: translateY(-20px);
    box-shadow: 0px 10px 30px #192033;
  }
  